{% include 'head.twig' %}

        {% block title %}
            <title>{{ options.title }}</title>
        {% endblock %}
    <style>
        /* User Styles */
        body {
            background-color: {{ options.style_backgroundcolor }} !important;
        }

        h2, h2 a {
            color: {{ options.style_h2color }} !important;
        }

        h2:hover, h2 a:hover {
            color: {{ options.style_h2color_hover }} !important;
        }
    </style>
{% include 'header.twig' %}
<div class="container-fluid">
    <div class="content row">
        <main class="main col-md-8">
            {% block main %}
                {% if entries is empty %}
                    {% if authentication.login %}
                        <article class="element entry clearfix" id="entry-{{ entry.id }}">
                            <h2>Hello!</h2>

                            <p>
                                There are no entries at the moment.
                                <a href="/add/entry/">Add an entry</a>
                            </p>
                        </article>
                    {% else %}
                        <article class="element entry clearfix" id="entry-{{ entry.id }}">
                            <h2>Hello!</h2>

                            <p>
                                There are no entries at the moment.<br/>
                                To add any entries please <a href="/login/">log in</a>.
                            </p>
                        </article>
                    {% endif %}
                {% else %}
                    {% for entry in entries %}
                        <article class="element entry clearfix" id="entry-{{ entry.id }}">
                            <h2><a href="/entry/{{ entry.slug }}">{{ entry.title }}</a></h2>

                            <div>{{ entry.content|raw }}</div>
                        </article>
                    {% endfor %}
                {% endif %}
            {% endblock %}
        </main>
        {% block sidebar %}
            <aside class="col-md-4 hidden-sm hidden-xs">
                <article class="element widget" id="widget">
                    <h3>{{ options.welcome_title }}</h3>

                    <p>{{ options.welcome_content }}</p>
                </article>
            </aside>
        {% endblock %}
    </div>
</div>
{% include 'footer.twig' %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
      property="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'
      property="stylesheet">
{% block styles %}
    <link rel="stylesheet" href="/ThePost/View/Templates/css/style.min.css" property="stylesheet"/>
{% endblock %}
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>