{% include 'head.twig' %}
{% include 'header.twig' %}
<div class="container-fluid">
    <div class="content row">
        <main class="main col-md-8">
            {% block main %}
                {% for entry in entries %}
                    <article class="element entry clearfix" id="entry-{{ entry.id }}">
                        <h2><a href="/entry/{{ entry.slug }}">{{ entry.title }}</a></h2>

                        <div>{{ entry.content|raw }}</div>
                    </article>
                {% endfor %}
            {% endblock %}
        </main>
        {% block sidebar %}
            <aside class="col-md-4 hidden-sm hidden-xs">
                <article class="element widget" id="widget">
                    <h3>{{ options.welcome_title }}</h3>

                    <p>{{ options.welcome_content }}</p>
                </article>
            </aside>
        {% endblock %}
    </div>
</div>
{% include 'footer.twig' %}
</body>
</html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
{% block styles %}
    <link rel="stylesheet" href="/ThePost/View/Templates/css/style.css"/>
{% endblock %}
<style>
    /* User Styles */
    body{
        background-color: {{ options.style_backgroundcolor }};
    }
</style>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% block scripts %}
{% endblock %}