{% extends "index.twig" %}

    {% block styles %}
            <link rel="stylesheet" href="/ThePost/View/Templates/css/style.min.css"/>
    {% endblock %}

{% block main %}

    <div class="alert alert-danger hidden" id="crud-error" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
    </div>

    {% if entry.id is defined %}
        <article class="element entry clearfix" id="entry-{{ entry.id }}">
    {% else %}
        <article class="element entry clearfix" id="entry-0">
    {% endif %}

    {% if authentication.login %}
    <header class="clearfix">
        <a href="/edit/entry/{{ entry.id }}" class="btn btn-default pull-left" role="button">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="update"> Edit</span>
        </a>

        <button class="update btn btn-danger pull-right" onclick="deleteEntry({{ entry.id }})">
            <span class="glyphicon glyphicon-trash"></span>
            <span class="update"> Delete</span>
        </button>
    </header>
        {# glyphicon-floppy-open #}
    {% else %}
    {% endif %}

    <h2 class="title">{{ entry.title }}</h2>
    <div class="text">{{ entry.content|raw }}</div>
            <time class="pull-right" datetime="{{ entry.timestamp }}">{{ entry.timestamp|date }}</time>

    </article>

    {% endblock %}

    {% block scripts %}
    <script src="/ThePost/View/Templates/js/upload.min.js"></script>
{% endblock %}