{% extends "index.twig" %}

{% block title %}
    <title>Settings | {{ options.title }}</title>
{% endblock %}

{% block main %}
    {% if authentication.login %}

        <form class="element clearfix" action="/settings/submit/" method="post">
            <h2>Settings</h2>
            {% for setting in settings %}
                <div class="form-group clearfix">
                    <label for="setting-{{ setting.key }}">{{ setting.title }}</label>

                    <div class="form-inline">
                        {% if setting.type == "color" %}
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="color" class="input-setting-{{ setting.key }} color" id="setting-{{ setting.key }}"
                                           name="settings[{{ setting.key }}]"
                                           value="{{ setting.value }}"
                                           onchange="$('#setting-{{ setting.key }}_text').val($(this).val())">
                                </span>
                                <input type="text" class="form-control" id="setting-{{ setting.key }}_text"
                                       name="{{ setting.key }}_text" value="{{ setting.value }}"
                                       onchange="$('#setting-{{ setting.key }}').val($(this).val())">
                            </div>
                        {% elseif setting.type == "textarea" %}
                            <textarea name="settings[{{ setting.key }}]" class="input-setting-{{ setting.key }} form-control" id="setting-{{ setting.key }}" cols="100%">{{ setting.value }}</textarea>
                        {% else %}
                            <input type="{{ setting.type }}" class="input-setting-{{ setting.key }} form-control"
                                   id="setting-{{ setting.key }}" name="settings[{{ setting.key }}]"
                                   value="{{ setting.value }}">
                        {% endif %}
                        <button class="setting-{{ setting.key }} update btn btn-default"
                                onclick="uploadOptions('setting','{{ setting.key }}',event);">
                            <span class="setting-{{ setting.key }} glyphicon glyphicon-floppy-open"></span>
                            <span class="string-setting-{{ setting.key }} update"> Save</span>
                        </button>
                    </div>
                    <p class="setting-{{ setting.key }} help-block">{{ setting.description }}</p>

                </div>
            {% endfor %}
            <button class="setting-all update btn btn-default" type="submit">
                <span class="setting-all glyphicon glyphicon-floppy-open"></span>
                <span class="string-setting-all update"> Save all</span>
            </button>
        </form>



    {% else %}
        <article class="element entry clearfix">
            <h2>Error</h2>

            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                You have to be logged in to access these settings!
            </div>
        </article>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="/ThePost/View/Templates/js/upload.js"></script>
{% endblock %}