{% extends "index.twig" %}

{% block main %}
    {% if authentication.login %}

        <div class="element clearfix">
        {% for setting in settings %}
            <div class="form-group clearfix">
                <label for="setting-{{ setting.key }}">{{ setting.key }}</label>
                <div class="form-inline">
                    <input type="text" class="input-setting-{{ setting.key }} form-control" id="setting-{{ setting.key }}" value="{{ setting.value }}">
                    <button class="setting-{{ setting.key }} update btn btn-default" data-key="{{ setting.key }}" onclick="uploadOptions(this,'setting');">
                        <span class="setting-{{ setting.key }} glyphicon glyphicon-floppy-open"></span>
                        <span class="string-setting-{{ setting.key }} update"> Save</span>
                    </button>
                </div>

            </div>
        {% endfor %}
            <button class="setting-all update btn btn-default" onclick="uploadOptionsAll('setting')">
                <span class="setting-all glyphicon glyphicon-floppy-open"></span>
                <span class="string-setting-all update"> Save all</span>
            </button>
        </div>



    {% else %}
        <article class="element entry clearfix">
            <h2>Error</h2>

            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                You have to be logged in to access these settings!
            </div>
        </article>
    {% endif %}
{% endblock %}

{% block scripts %}
<script src="/thepost/View/Templates/js/upload.js"></script>
{% endblock %}